@import '../common/vars';

.hero {
    padding: 30px 0;
    min-height: 100vh;
    background-color: $bg-color;
    position: relative;
    z-index: 0;

    &__bagel {
        width: 100%;

        &-box {
            position: absolute;
            left: 20%;
            bottom: 0;
            max-width: 1021px;
            z-index: -1;
            @include b(tablet) {
                left: 0;
            } 
        }
    }

    &__header {

        &-wrap {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &-btn {

            &-menu {
                width: 24px;
                height: 21px;
                position: relative;
                display: none;
                @include b(tablet) {
                    display: block;
                }

                &--open {
                    position: fixed;
                    right: 20px;
                    z-index: 1;
        
                    .hero__header-btn-line:nth-child(1) {
                        transform: rotate(45deg);
                        top: 9px;
                        background-color: $white-color;
                    }
        
                    .hero__header-btn-line:nth-child(2) {
                        display: none;
                    }
        
                    .hero__header-btn-line:nth-child(3) {
                        transform: rotate(-45deg);
                        top: 9px;
                        background-color: $white-color;
                    }
                }
            }

            &-line {
                position: absolute;
                width: 24px;
                height: 2px;
                background-color: $white-color;
                left: 0;
                transition: $trs;
        
                &:nth-child(1) {
                    top: 0;
                }
        
                &:nth-child(2) {
                    top: 9px;
                }
        
                &:nth-child(3) {
                    top: 18px;
                }
            }
        }
    }

    &__logo {
        display: inline-block;
        line-height: 0;
        @include b(mobile) {
            z-index: 2;
        }

        &-img {
            @include b(mobile) {
               width: 107px;
            }
        }
    }

    &__nav {
        transition: $trs;
        position: relative;
        @include b(tablet) {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            background: linear-gradient(105deg, rgba(122, 122, 122, .1) 2%, rgba(122, 122, 122, 0) 105%);
            filter: drop-shadow(0 4px 4px rgba(50, 50, 50, .15));
            backdrop-filter: blur(100px);
            width: 320px;
            padding: 134px 0;
            display: none;
        }
        @include b(mobile) {
            width: 100%;
        }

        &--open {
            display: block;
            z-index: 1;
        }

        &-list{
            display: flex;
            justify-content: space-between;
            @include b(tablet) {
                flex-direction: column;
                justify-content: center;
                text-align: left;
            }
        }

        &-item {
            padding: 0 15px;
            @include b(tablet) {
                padding: 0 20px;
            }   
        }

        &-link {
            display: inline-block;
            font-weight: 400;
            color: $white-color;
            text-transform: uppercase;
            line-height: 1.1;
            position: relative;
            @include b(tablet) {
                font-weight: 700;
                font-size: 24px;
                margin-bottom: 30px;
            }

            &::before {
                position: absolute;
                content: '';
                left: 0;
                bottom: -2px;
                width: 0;
                height: 1px;
                background-color: $white-color;
                transition: $trs;
                @include b(tablet) {
                    height: 3px;
                }
            }

            &:hover::before {
                width: 100%;
            }
        }
    }

    &__socials {
        display: none;
        @include b(tablet) {
            position: absolute;
            bottom: 35px;
            left: 25%;
            display: flex;
            flex-direction: column;
        } 
        @include b(mobile) {
            left: 40%;
        }       
        @include b(mobile-sm) {
            left: 27%;
        }

        &-row {
            margin-bottom: 25px;
        }

        &-row > svg {
            margin: 0 8px;
        }

        &-link {
            display: inline-block;
            color: $philippine-silver;
            text-align: center;
        }
    }

    &__body {
        padding: 0 20px;
        background-image: url(../images/hero-bg.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position-y: bottom;
        position: relative;
        // z-index: 1;

        &-wrap {
            min-height: calc(100vh - 115px);
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &-box {
            max-width: 1268px;
            padding: 72px 46px;
            border-radius: 7px;
            background: linear-gradient(105deg, rgba(122, 122, 122, .19) 2%, rgba(122, 122, 122, 0) 105%);
            filter: drop-shadow(0 4px 4px rgba(50, 50, 50, .15));
            backdrop-filter: blur(100px);
            @include b(desktop) {
                padding: 40px 46px;
            }
        }
    }

    &__circle {
        width: 100%;

        &-box {
            position: absolute;
            left: 411px;
            top: -50px;
            max-width: 256px;
            // z-index: -1;
            @include b(tablet) {
                left: 200px;
                top: 0;
                width: 200px;
            }
            @include b(mobile) {
               left: 60px;
            }
            @include b(mobile-sm) {
                width: 80px;
                top: 60px;
                left: 96px;
             }
        }
    }

    &__title {
        font-weight: 700;
        font-size: 72px;
        color: $white-color;
        text-align: center;
        margin-bottom: 40px;
        @include b(mobile) {
            font-size: 34px;
            margin-bottom: 30px;
        }
    }

    &__descr {
        max-width: 742px;
        margin: 0 auto;
        font-size: 24px;
        color: $white-color;
        margin-bottom: 114px;
        text-align: center;
        @include b(mobile) {
            font-size: 16px;
            margin-bottom: 40px;
        }
    }

    &__btn {
        margin-right: 60px;
        @include b(mobile) {
            margin: 0 0 30px;
        }

        &-size {
            @include b(mobile) {
                justify-content: center;
                width: 100%;
            }
            @include b(mobile-sm) {
                font-size: 20px;
                padding: 18px 60px;
            }
        }

        &-box {
            display: flex;
            justify-content: center;
            @include b(mobile) {
                display: block;
            }
        }
    }
}